@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights ,$weight-name );
}

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}


// ถ้าเป็นจริงพื้นหลังสว่างขึ้น 100% นั่นคือสีขาว ส่วนตัวอักษรดำขึ้น 100% นั่นคือสีดำ
@mixin theme($light-theme: true) {
    @if $light-theme{
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
    
}

@mixin mobile {
    @media (max-width:800px) {
        @content;
    }
}

body{
    background: $primary-color;
    color: $text-color;
}

.main{
    @include flexCenter(row);
    width: 80% - 20% ;
    margin: 0 auto;
    

    #{&}__paragraph1{
        font-weight: weight(bold);

        &:hover{
            color: pink;
        }
    }

    #{&}__paragraph2{
        @extend .main__paragraph1;

        &:hover{
            color: lawngreen;
        }
    }

    @include mobile(){
        flex-direction: column;
    }
}

.light{
    @include theme($light-theme: true);
}


